<app-content>
  <div class="app-title">
    <div>
      <h1>
        <i class="fa fa-users"></i> จัดการตึก</h1>
      <!-- <p>หน้าแสดงรายการ สมาชิก ค้นหา และแก้ไข</p> -->
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home fa-lg"></i>
      </li>
      <li class="breadcrumb-item">
        <a href="#">จัดการตึก</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <!-- ส่วนหัว -->
        <div class="tile-title-w-btn">
          <h3 class="title">
            <i class="fa fa-list"></i> รายการตึก
          </h3>
          <!-- ค้นหา -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
                  {{ serachType.value }}
                  <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <li *ngFor="let item of searchTypeItems" role="menuitem">
                    <a class="dropdown-item" (click)="serachType = item">
                      {{ item.value }}
                    </a>
                  </li>
                </ul>
              </div>

              <div [ngSwitch]="serachType.key">
                <input *ngSwitchCase="'updated'" bsDaterangepicker placement="left" type="text" [(ngModel)]="searchText"
                  class="form-control" placeholder="ค้นหาข้อมูล">
                <input *ngSwitchDefault type="text" [(ngModel)]="searchText" class="form-control"
                  placeholder="ค้นหาข้อมูล">
              </div>

              <div class="input-group-append" style="margin-right: 5px;">
                <button (click)="onSearchItem()" class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div class="input-group-append">
                <button (click)="openModal(addTemplate)" class="btn btn-primary" type="button">
                  <i class="fa fa-plus-circle"></i>
                </button>
              </div>
              <ng-template #addTemplate>
                <form [formGroup]="form" (submit)="onAdd()">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">เพิ่มตึก</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">ชื่อย่อ</span>
                      </div>
                      <input type="text" class="form-control" formControlName="buildingId">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">ชื่อตึก</span>
                      </div>
                      <input type="text" class="form-control" formControlName="buildingName">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" type="reset"
                      (click)="modalRef.hide()">ยกเลิก</button>
                    <button type="submit" class="btn btn-primary" type="submit">ยืนยัน</button>
                  </div>
                </form>
              </ng-template>

            </div>
          </div>

        </div>
        <div class="tile-body" *ngIf="items">
          <div class="table-responsive">
            <table class="table">
              <!-- Head -->
              <thead>
                <tr>
                  <th>รหัสตึก</th>
                  <th>ชื่อตึก</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <!-- Body -->
              <tbody>
                <tr *ngFor="let item of items.items">
                  <td>{{item.buildingId}}</td>
                  <td>{{item.buildingName}}</td>
                  <td><button class="btn btn-outline-primary" (click)="openRoom(item.buildingId)">จัดการห้อง</button>
                  </td>
                  <td class="text-right">
                    <!-- <ng-template [ngIf]="UserLogin.role == Role.Admin"> -->
                    <!-- <i (click)="onUpdate(item)" class="fa fa-edit cur"></i> -->
                    <app-edit-building [item]="item"></app-edit-building>
                    <span> | </span>
                    <!-- </ng-template> -->
                    <i (click)="openModal(deleteTemplate)" class="fa fa-trash cur"></i>
                    <ng-template #deleteTemplate>
                      <div class="modal-body text-center">
                        <p>คุณต้องการลบข้อมูลหรือไม่ ?</p>
                        <button type="button" class="btn btn-default" (click)="onDelete(item._id)">ยืนยัน</button>
                        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">ยกเลิก</button>
                      </div>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
              <!-- Foot -->
              <tfoot>
                <tr>
                  <th colspan="7">
                    จำนวนตึกทั้งหมด {{ items.totalItems }} ตึก
                  </th>
                </tr>
              </tfoot>
            </table>
            <pagination [(ngModel)]="startPage" [itemsPerPage]="limitPage" (pageChanged)="onPageChanged($event)"
              [rotate]="false" [maxSize]="10" previousText="หน้าก่อนหน้า" nextText="หน้าถัดไป"
              [totalItems]="items.totalItems"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>
