<app-content>
  <div class="app-title">
    <div>
      <h1>
        <i class="fa fa-users"></i> รายวิชาที่ต้องสอบ</h1>
      <!-- <p>หน้าแสดงรายการ สมาชิก ค้นหา และแก้ไข</p> -->
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home fa-lg"></i>
      </li>
      <li class="breadcrumb-item">
        <a href="#">รายวิชาสอบ</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <!-- ส่วนหัว -->
        <div class="tile-title-w-btn">
          <h3 class="title">
            <i class="fa fa-list"></i> รายการวิชาสอบ
          </h3>
          <!-- ค้นหา -->
        </div>
        <ng-container *ngIf="items">
          <div class="tile-body" *ngIf="items.length > 0; else noneHaveTemplate">
            <div class="table-responsive">
              <table datatable class="table">
                <!-- Head -->
                <thead>
                  <tr>
                    <th>วันที่สอบ</th>
                    <th>เวลาเริ่มสอบ</th>
                    <th>เวลาสิ้นสุดการสอบ</th>
                    <th>รหัสวิชา</th>
                    <th>ชื่อวิชา</th>
                    <th>รหัสตึก</th>
                    <th>ชื่อห้อง</th>
                    <th>ที่นั่ง</th>
                  </tr>
                </thead>
                <!-- Body -->
                <tbody>
                  <tr *ngFor="let item of items">
                    <td>{{item.examDate}}</td>
                    <td>{{item.timeStart}}</td>
                    <td>{{item.timeEnd}}</td>
                    <td>{{item.subjectId}}</td>
                    <td>{{item.subjectName}}</td>
                    <td>{{item.buildingId}}</td>
                    <td>{{item.roomName}}</td>
                    <td>{{item.seat[0].roomSeat}}</td>
                  </tr>
                </tbody>
                <!-- Foot -->
                <tfoot>
                  <tr>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <ng-template #noneHaveTemplate>
            <p>ไม่มีรายวิชาที่ต้องสอบ</p>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</app-content>
