<div class="input-group-append">
  <button (click)="openModal(template)" class="btn btn-primary" type="button">
    <i class="fa fa-plus-circle"></i>
  </button>
</div>

<ng-template #template>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">เพิ่มห้องในตึก {{subscribeBuildingParam}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">ชื่อห้อง</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="roomName" placeholder="1C04">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">ประเภท</label>
        <div class="col-sm-10">
          <select class="custom-select my-1 mr-sm-2" formControlName="roomType">
            <option value="" selected>กรุณาเลือก...</option>
            <option value="ห้องแลป">ห้องแลป</option>
            <option value="ห้องเลคเชอ">ห้องเลคเชอ</option>
            <option value="ห้องประชุม">ห้องประชุม</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">ชั้น</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="roomFloor" placeholder="ชั้นของตึก">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">จำนวนที่นั่งทั้งหมด</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" formControlName="roomSeatMax"
            placeholder="ความจุสูงสุดที่ห้องสามารถรับได้">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">จำนวนแถวทั้งหมด</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" formControlName="roomSeatRow"
            placeholder="จำนวนนักเรียนที่นั่งได้มากที่สุดต่อหนึ่งแถว">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" type="reset"
        (click)="modalRef.hide()">ยกเลิก</button>
      <button type="submit" class="btn btn-primary" type="submit">ยืนยัน</button>
    </div>
  </form>
</ng-template>