<div class="input-group-append">
  <button (click)="openModal(template)" class="btn btn-primary" type="button">
    <i class="fa fa-plus-circle"></i>
  </button>
</div>

<ng-template #template>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">เพิ่มรายวิชา</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">ชื่อตึก</span>
        </div>
        <input type="text" class="form-control" formControlName="buildingId">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">ชื่อห้อง</span>
        </div>
        <input type="text" class="form-control" formControlName="roomName">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">ประเภท</span>
        </div>
        <input type="text" class="form-control" formControlName="roomType">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">ชั้น</span>
        </div>
        <input type="text" class="form-control" formControlName="roomFloor">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">จำนวนที่นั่ง</span>
        </div>
        <input type="text" class="form-control" formControlName="roomSeat">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">ผังห้อง</span>
        </div>
        <input type="text" class="form-control" formControlName="roomplan">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" type="reset" (click)="modalRef.hide()">ยกเลิก</button>
      <button type="submit" class="btn btn-primary" type="submit">ยืนยัน</button>
    </div>
  </form>
</ng-template>
