<app-content>
  <div class="app-title">
    <div>
      <h1>
        <i class="fa fa-volume-up"></i> ประกาศ</h1>
      <!-- <p>A free and modular admin template</p> -->
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home fa-lg"></i>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <ul class="list-group">
          <h2 class="title"><i class="fa fa-bolt fa-lg"></i> ข่าวสารล่าสุด</h2>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา Programming ของกลุ่มที่ 2
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา English ของกลุ่มที่ 1
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา Spanish ของกลุ่มที่ 1
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา Algorithms ของกลุ่มที่ 1
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา English For Informatics ของกลุ่มที่ 1
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา Testing ของกลุ่มที่ 1
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา Object Oreinted Analysis Design ของกลุ่มที่ 1
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา Parallel Programming ของกลุ่มที่ 1
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา Web Programming ของกลุ่มที่ 1
            <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา IOS Development ของกลุ่มที่ 1
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            มีจัดสอบวิชา Mobile Development ของกลุ่มที่ 1
            <span class="badge badge-primary badge-pill">2</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</app-content>
