<app-content>
  <div class="app-title">
    <div>
      <h1>
        <i class="fa fa-cog"></i> เพิ่มการสอบ</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home fa-lg"></i>
      </li>
      <li class="breadcrumb-item">
        <a href="#">เพิ่มการสอบ</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="col-md-12">
          <div class="tile-body">
            <form #settingForm="ngForm" (submit)="onAdd(settingForm)">
              <div class="form-group row">
                <label for="year" class="col-sm-2 col-form-label">รหัสวิชา</label>
                <div class="col-sm-10">
                  <input class="form-control" autocomplete="off" name="subjectId" type="text" placeholder="กรุณาใส่ข้อมูล"
                    ngModel required [typeahead]="subjectList" [typeaheadOptionsLimit]="7" typeaheadOptionField="_id"
                    (typeaheadOnSelect)="selectSubject($event)">
                </div>
              </div>
              <div class="form-group row" *ngIf="subjectSelected">
                <label for="year" class="col-sm-2 col-form-label">คอร์ส</label>
                <div class="col-sm-10">
                  <select multiple class="form-control" id="exampleFormControlSelect2" [(ngModel)]="selectCourse"
                    [ngModelOptions]="{standalone: true}">  
                    <ng-container *ngIf="subjectSelected; else noSelected">
                      <option *ngFor="let course of subjectSelected.course; let i = index"
                        [ngValue]="i">กลุ่มที่
                        {{subjectSelected.course[i]}} นักเรียนทั้งหมด {{subjectSelected.totalStudent[i]}}</option>
                    </ng-container>
                  </select>
                  <p *ngIf="selectCourse">{{selectCourse}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label for="year" class="col-sm-2 col-form-label">ตึก</label>
                <div class="col-sm-10">
                  <input class="form-control" autocomplete="off" name="buildingId" type="text"
                    placeholder="กรุณาใส่ข้อมูล" ngModel required [typeahead]="buildingList" [typeaheadOptionsLimit]="7"
                    typeaheadOptionField="_id" (typeaheadOnSelect)="selectBuilding($event)">
                </div>
              </div>
              <div class="form-group row" *ngIf="buildingSelected">
                <label for="year" class="col-sm-2 col-form-label">ห้อง</label>
                <div class="col-sm-10">
                  <select multiple class="form-control" id="exampleFormControlSelect2" [(ngModel)]="selectRoom"
                    [ngModelOptions]="{standalone: true}">
                    <ng-container *ngIf="buildingSelected; else noSelected">
                      <option *ngFor="let room of buildingSelected.room; let i = index"
                        [ngValue]="i">ห้อง
                        {{buildingSelected.room[i]}}, รองรับได้สูงสุด {{buildingSelected.roomSeatMax[i]}} คน</option>
                    </ng-container>
                  </select>
                  <p>{{selectRoom}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label for="year" class="col-sm-2 col-form-label">ผู้คุม</label>
                <div class="col-sm-10">
                  <!-- <input class="form-control" name="observer" type="text" placeholder="กรุณาใส่ข้อมูล" ngModel required> -->
                  <ng-select  [multiple]="true"
                  [items]="observerList"
                  bindLabel="fullName"
                  (change)="change($event)"
                  placeholder="ยังไม่ได้เลือกผู้คุมสอบ"></ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label for="year" class="col-sm-2 col-form-label">วันที่สอบ</label>
                <div class="col-sm-10">
                  <input class="form-control" autocomplete="off" #drp="bsDatepicker" name="examDate" bsDatepicker
                  ngModel required>
                </div>
              </div>
              <div class="form-group row">
                <label for="year" class="col-sm-2 col-form-label">ช่วงเวลาสอบ</label>
                <div class="col-sm-5">
                  <input class="form-control" name="timeStart" type="time" ngModel required>
                </div>
                <div class="col-sm-5">
                  <input class="form-control" name="timeEnd" type="time" ngModel required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 right">
                  <button type="submit" class="btn btn-primary">ตกลง</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>
