<div class="input-group-append">
  <button (click)="openModal(template)" class="btn btn-primary" type="button">
    <i class="fa fa-plus-circle"></i>
  </button>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่มรายวิชา</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">รหัสวิชา</span>
      </div>
      <input type="text" id="subjectId" name="subjectId" class="form-control">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">รายวิชา</span>
      </div>
      <input type="text" id="subjectName" name="subjectName" class="form-control">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel()">ยกเลิก</button>
    <button type="submit" class="btn btn-primary" (click)="onConfirm()">ยืนยัน</button>
  </div>
</ng-template>
