<app-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-file-text-o"></i> ข้อมูลการสอบ</h1>
      <p><a [routerLink]="[ '/main', 'manager-exam' ]">ย้อนกลับ</a></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">exam-detail</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <section class="invoice" *ngIf="examDetail">
          <div class="row mb-4">
            <div class="col-6">
              <h2 class="page-header"><i class="fa fa-globe"></i> {{examDetail.subjectId}} {{examDetail.subjectName}}
              </h2>
            </div>
            <div class="col-6">
              <h5 class="text-right">วันที่สอบ: {{examDetail.examDate}}</h5>
            </div>
          </div>
          <div class="row invoice-info">
            <div class="col-4">เวลาเริ่มต้น
              <address><strong>{{examDetail.timeStart}} นาฬิกา</strong></address>
            </div>
            <div class="col-4">เวลาสิ้นสุด
              <address><strong>{{examDetail.timeEnd}} นาฬิกา</strong></address>
            </div>
            <div class="col-4">สถานที่สอบ
              <address><strong>ตึก {{examDetail.buildingId}}</strong><br><strong>ห้อง {{examDetail.roomName}}</strong>
              </address>
            </div>
          </div>
          <div class="row">
            <div class="col-12 table-responsive">
              <h4 class="page-header"><i class="fa fa-globe"></i> รายชื่อผู้คุมสอบ </h4>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ลำดับที่</th>
                    <th>รายชื่อ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of examDetail.observer; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.fullName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
                <div class="col-12 table-responsive">
                  <h4 class="page-header"><i class="fa fa-globe"></i> รายชื่อผู้เข้ารับการสอบ </h4>
                  <table datatable class="table table-striped">
                    <thead>
                      <tr>
                        <th>ลำดับที่</th>
                        <th>รหัสนิสิต</th>
                        <th>ชื่อนิสิต</th>
                        <th>รหัสที่นั่ง</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of examDetail.seat; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.studentId}}</td>
                        <td>{{item.studentName}}</td>
                        <td>{{item.roomSeat}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          <div class="row d-print-none mt-2">
            <div class="col-12 text-right"><a class="btn btn-primary" href="javascript:window.print();"
                target="_blank"><i class="fa fa-print"></i> Print</a></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</app-content>
