<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div *ngIf="personLoginDetail" class="app-sidebar__user">
    <img *ngIf="personLoginDetail.image" class="app-sidebar__user-avatar" [src]="personLoginDetail.image"
      alt="User Image">
    <img *ngIf="!personLoginDetail.image" class="app-sidebar__user-avatar" src="assets/images/no-image-profile.png"
      alt="User Image">
    <div class="app-sidebar-ud">
      <p class="app-sidebar__user-name">
        {{ personLoginDetail.name }}
      </p>
      <p class="app-sidebar__user-designation">
        สถานะ: {{ personLoginDetail.status }}
      </p>
    </div>
  </div>
  <ul class="app-menu" *ngIf="personLoginDetail">
    <li class="treeview">
      <a class="app-menu__item" data-toggle="treeview" [routerLink]="['/main', 'exam']">
        <i class="app-menu__icon fa fa-calendar fa-lg"></i>
        <span class="app-menu__label">ดูรายวิชาสอบ</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
    </li>
    <li class="treeview">
      <a class="app-menu__item" data-toggle="treeview" [routerLink]="['/main', 'observer-exam']">
        <i class="app-menu__icon fa fa-user-circle fa-lg"></i>
        <span class="app-menu__label">ดูรายวิชาคุมสอบ</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
    </li>
    <ng-container *ngIf="personLoginDetail.status == Role.Officer">
      <li class="treeview">
        <a class="app-menu__item" data-toggle="treeview" [routerLink]="['/main', 'manager-person']">
          <i class="app-menu__icon fa fa-edit fa-lg"></i>
          <span class="app-menu__label">จัดการบุคลากร</span>
          <i class="treeview-indicator fa fa-angle-right"></i>
        </a>
      </li>
      <li class="treeview">
        <a class="app-menu__item" [routerLink]="['/main', 'manager-subject']" data-toggle="treeview">
          <i class="app-menu__icon fa fa-indent fa-lg"></i>
          <span class="app-menu__label">จัดการรายวิชา</span>
          <i class="treeview-indicator fa fa-angle-right"></i>
        </a>
      </li>
      <li class="treeview">
        <a class="app-menu__item" [routerLink]="['/main', 'manager-course']" data-toggle="treeview">
          <i class="app-menu__icon fa fa-th-list fa-lg"></i>
          <span class="app-menu__label">จัดการคอร์ส</span>
          <i class="treeview-indicator fa fa-angle-right"></i>
        </a>
      </li>
      <li class="treeview">
        <a class="app-menu__item" data-toggle="treeview" [routerLink]="['/main', 'manager-exam']">
          <i class="app-menu__icon fa fa-book fa-lg"></i>
          <span class="app-menu__label">จัดการการสอบ</span>
          <i class="treeview-indicator fa fa-angle-right"></i>
        </a>
      </li>
      <li class="treeview">
        <a class="app-menu__item" data-toggle="treeview" [routerLink]="['/main', 'manager-building']">
          <i class="app-menu__icon fa fa-building fa-lg"></i>
          <span class="app-menu__label">จัดการตึก</span>
          <i class="treeview-indicator fa fa-angle-right"></i>
        </a>
      </li>
      <li class="treeview">
        <a class="app-menu__item" data-toggle="treeview" [routerLink]="['/main', 'setting']">
          <i class="app-menu__icon fa fa-cog fa-lg"></i>
          <span class="app-menu__label">ตั้งค่า</span>
          <i class="treeview-indicator fa fa-angle-right"></i>
        </a>
      </li>
    </ng-container>
  </ul>

</aside>
